.background {
  background-color: var(--color-primary);
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.829);
}

.line {
  background-color: rgba(245,245,245, 0.3);
}